@model dynamic
<h1>@Html.TitleForPage(T("Change Password").ToString()) </h1>
<p>@T("Use the form below to change your password.")</p>
<p>@T("New passwords are required to be a minimum of {0} characters in length.", ViewData["PasswordLength"]) </p>
@Html.ValidationSummary(T("Password change was unsuccessful. Please correct the errors and try again.").ToString())
@using (Html.BeginFormAntiForgeryPost()) {
    <fieldset>
        <legend>@T("Account Information")</legend>
        <div class="form-group @(Html.ViewData.ModelState.IsValidField("newPassword") ? null : "has-error")">
            <label for="newPassword">@T("New password:")</label>
            @Html.Password("newPassword", null, new { @class = "form-control" })
        </div>
        <div class="form-group @(Html.ViewData.ModelState.IsValidField("confirmPassword") ? null : "has-error")">
            <label for="confirmPassword">@T("Confirm new password:")</label>
            @Html.Password("confirmPassword", null, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">@T("Change Password")</button>
        </div>
    </fieldset>
} 