@using Orchard.ContentManagement

@{
    var userCanRegister = WorkContext.CurrentSite.As<Orchard.Users.Models.RegistrationSettingsPart>().UsersCanRegister;
    var enableLostPassword = WorkContext.CurrentSite.As<Orchard.Users.Models.RegistrationSettingsPart>().EnableLostPassword;
}

<h1 class="page-title">@Html.TitleForPage((string)Model.Title)</h1>
<p>
    @T("Please enter your username and password.") 
    @if(userCanRegister) { @Html.ActionLink(T("Register").Text, "Register") @T(" if you don't have an account.") }
    @if(enableLostPassword) { <text> </text> @Html.ActionLink(T("Lost your Password?").Text, "RequestLostPassword") }
</p>
@Html.ValidationSummary(T("Login was unsuccessful. Please correct the errors and try again.").ToString())

@using (Html.BeginFormAntiForgeryPost(Url.Action("LogOn", new { ReturnUrl = Request.QueryString["ReturnUrl"] }))) {
    <fieldset class="login-form group">
        <legend>@T("Account Information")</legend>
        <div class="form-group @(Html.ViewData.ModelState.IsValidField("userNameOrEmail") ? null : "has-error")">
            <label for="username-email">@T("Username")</label>
            @Html.TextBox("userNameOrEmail", "", new { id = "username-email", autofocus = "autofocus", @class = "form-control" })
        </div>
        <div class="form-group @(Html.ViewData.ModelState.IsValidField("password") ? null : "has-error")">
            <label for="password">@T("Password")</label>
            @Html.Password("password", null, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.CheckBox("rememberMe", new { id = "remember-me" })
            <label class="forcheckbox" for="remember-me">@T("Remember Me")</label>
        </div>
        <button class="btn btn-primary" type="submit">@T("Sign In")</button>
    </fieldset>
}